<p>{{myNAS.sku}} / {{myNAS.cost}}</p>
<div class="row">
  <!--<div class="product-info col-md-4" *ngFor='let prod of product,let i = index'>-->
  <div class="product-info col-md-4" *ngFor='let prod of hds'>
    <a href="javascript: void(0)" (click)="gethds(prod)">
      <div class="card card-body bg-light p-1 m-1">
        <ul class="product-name list-unstyled">
          <li><strong>SKU</strong>: {{ prod.sku }}</li>
          <li><strong>Cost</strong>: {{ prod.cost | currency:"USD":true }}</li>
        </ul>
      </div>
    </a>
  </div>
</div>
<div class="product-info col-md-4" *ngFor='let prod of data.hdsPrice'>
  <div class="card card-body bg-light p-1 m-1">
    <ul class="product-name list-unstyled">
      <li><strong>SKU</strong>: {{ prod.sku }}</li>
      <li><strong>Price</strong>: {{ prod.cost | currency:"USD":true }}</li>
    </ul>
  </div>
</div>
<button id="ProductButton" class="btn btn-success" (click)="productready()">Product Ready</button>

